<section>
    <h1>Feel free to send your queries</h1>
    <div id="container">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
                <div class="form-group">
                    <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter your email">
                    <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">
                        Please enter a valid email
                    </span>
                </div>
                <div class="form-group">
                    <input type="text" id="phonenumber" class="form-control" formControlName="phonenumber" placeholder="Enter your phone number">
                    <span *ngIf="!signupForm.get('userData.phonenumber').valid && signupForm.get('userData.phonenumber').touched">
                        Please enter a valid phonenumber
                    </span>
                </div>
                <div class="form-group">
                    <textarea formControlName="message" class="form-control" id="message" cols="30" rows="10"></textarea>
                </div>
                <div class="button">
                    <button class="btn btn-warning" type="submit">Submit Form</button>
                </div>
            </div>
        </form>
    </div>
</section>
<h2>Also you can contact us through the below mentioned phone number or by email id</h2>
<p>Phone Number: 9876543210</p>
<p>Email: foodya@gmail.com</p>